@model IEnumerable<FEVideoteca.Models.Comments>

@{
    ViewData["Title"] = "ConsultarComments";
}

<h1>ConsultarComments</h1>

<p>
    <a asp-action="CreateComments" asp-controller="Comments" class="btn bg-info">Crear Comentario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieSeriesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>=
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieSeriesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id= item.CommentId, comment=item.Comment,username=item.UserName, moviesandseriesid=item.MovieSeriesId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CommentId})
            </td>
        </tr>
}
    </tbody>
</table>
