@model IEnumerable<FEVideoteca.Models.MoviesAndSeries>

@{
    ViewData["Title"] = "ConsultarMoviesAndSeries";
}

<h1>ConsultarMoviesAndSeries</h1>

<p>
    <a asp-action="CreateMoviesAndSeries" asp-controller="MoviesAndSeries">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </th>
            <th>
                <label>ImageUrl</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumSeasons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumEpisodes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EpisodeDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumSeasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumEpisodes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpisodeDuration)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMovies", new {id=item.Id, duration=item.Duration, episodeduration=item.EpisodeDuration, director=item.Director,
                    genre=item.Genre, numepisodes=item.NumEpisodes, numseasons=item.NumSeasons, releaseyear=item.ReleaseYear,synopsis=item.Synopsis, title=item.Title }) |
                    @Html.ActionLink("Delete", "EliminarMovies", new { id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>
