@model IEnumerable<FEVideoteca.Models.MoviesAndSeriesActors>

@{
    ViewData["Title"] = "ConsultarMoviesAndSeriesActors";
}

<h1>ConsultarMoviesAndSeriesActors</h1>

<p>
    <a asp-action="CreateMoviesAndSeriesActors" asp-controller="MoviesAndSeriesActors">Agregar rating</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoviesSeriesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviesSeriesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditMoviesActors", new {id=item.Id, actorid=item.ActorId,moviesandseriesid=item.MoviesSeriesId }) |
                    @Html.ActionLink("Delete", "EliminarMoviesAndActors", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
