@model IEnumerable<FEVideoteca.Models.MoviesAndSeriesActors>

@{
    ViewData["Title"] = "ConsultarMoviesActors";
}

<h1>ConsultarMoviesActors</h1>

<p>
    <a asp-action="CreateMoviesActors" asp-controller="MoviesAndSeriesActors" class="btn bg-info">Nuevo Movie Actor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoviesSeriesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviesSeriesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActorId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id, actorid=item.ActorId,moviesandseriesid=item.MoviesSeriesId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
